@section  Scripts {

    <script type="text/template" id="leadViewTemplate">
        <div class="col-lg-6">
            <h4><%= FirstName  %> <%= LastName %></h4>
            <ul>
                <li>Id #: <%= Id %></li>
                <li>Email: <%= Email %></li>
                <li>Location: <%= State %>, <%= Country%></li>
            </ul>
        </div>
    </script>

    <script>

        $(document).ready(function () {


            var Lead = Backbone.Model.extend({
                defaults: {
                    Id: 999,
                    FirstName: "Steve",
                    LastName: "Senkus",
                    Email: "mail@steven-senkus.com",
                    State: "OR",
                    Country: "US"
                },
                idAttribute: "Id",
                parse: function (res) {
                    console.log('model parse', res);
                    return res;
                }


            });

            var Leads = Backbone.Collection.extend({
                url: "http://localhost:44420/api/lead",
                model: Lead,
                parse: function (response) {
                    console.log('collection parse response',response)
                    return response;
                }

            });


            var LeadView = Backbone.View.extend({
                template: _.template($('#leadViewTemplate').html()),
                initialize: function (options) {
                    console.log('this', this)
                    console.log('leadview initialize')
                    this.render()

                },
                render: function () {
                    console.log('LeadView rendered')
                    this.$el.html(this.template(this.model.toJSON()));
                    $('#leadContainer').append(this.$el);
                    return this;
                }

            });

            var LeadContainerView = Backbone.View.extend({
                el: $('#leadContainer'),
                events: {
                    'click': 'doIt'
                },
                leads: [],
                initialize: function (opts) {
                    var that = this;
                    this.collection = opts.collection;
                    //                    this.listenTo(this.collection, 'reset', this.doIt);
                    this.collection.fetch().then(function () {
                        that.collection.each(function (ld) {
                            that.collection.push(new LeadView({ model: ld }));
                        });
                    }).then(function () {
                        that.render();
                    });

                },
                doIt: function () {
                    console.log('do it')
                    _.each(this.leads, function (el, idx, list) {
                        console.log('destroy')
                        //el.destroy();
                    });
                    this.$el.empty();
                    clearInterval(this.timer);
                    this.render();
                },
                render: function () {
                    var that = this;
                    this.timer = setInterval(function () {
                        that.collection.reset();
                        that.collection.fetch({ update: true }).then(function () {
                            that.$el.empty();
                            that.collection.each(function (lead) {
                                that.leads.push(new LeadView({ model: lead }));
                            });

                        });
                    }, 2000);

                }
            });


            var leadViewContainer = new LeadContainerView({
                collection: new Leads()
            });




        });

    </script>
}



<div class="jumbotron">
    <h1>Backbone.js &amp; ASP.NET WebAPI </h1>
    <p class="lead">It's pretty cool, eh?</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Join muh startup</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-12" id="leadContainer">

    </div>

</div>