
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach(var x in ViewBag.files) 
{
    <a href="@x">@x</a>

}


@using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}