@model partyTime.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}


@{
    try {
        WebMail.SmtpServer = "smtp.example.com";
        WebMail.SmtpPort = 587;
        WebMail.EnableSsl = true;
        WebMail.UserName = "mySmtpUsername";
        WebMail.Password = "mySmtpPassword";
        WebMail.From = "rsvps@example.com";
        WebMail.Send("party-host@example.com", "RSVP Notification", Model.Name + " is " + ((Model.WillAttend ?? false) ? "": "not") + "attending");
    }
    catch(Exception) 
    {
        @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
    }
}

<h2>Thanks, @Model.Name!</h2>

@if (Model.WillAttend == true)
{
    @:It's great that you're coming!  Bring beer!
}
else
{
    @:Sorry to hear that you can't come to the best party in the world &#9992;
}
